- name: 1. Maak de wp_admin en wp_developer gebruikers aan
  ansible.builtin.user:
    name: "{{ item.name }}"
    shell: /bin/bash 
    state: present
    create_home: true 
    groups: users
    append: yes
  loop:
    - { name: "wp_admin" }
    - { name: "wp_developer" }


- name: 2. Voeg de unieke SSH publieke sleutels toe
  ansible.posix.authorized_key:
    user: "{{ item.name }}"
    state: present
    key: "{{ item.key }}" 
  loop:
    - { name: "wp_admin", key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}" }
    - { name: "wp_developer", key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}" }
